.App .container {
  max-width: 500;
}

.App-header {
  color: #000000;
  font-family: "Kiwi Maru", serif;
  font-size: 60px;
  text-align: center;
  margin: 20px auto;
}

body {
  background-image: url(workdesk.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: Arial, Helvetica, sans-serif;
  color: #666463;
  margin: 0 auto;
}

h2 {
  font-weight: bold;
}

h3 {
  font-size: 25px;
  font-style: italic;
}

.Meaning .Example {
  color: #cf7b54;
}

.Meaning .Example:first-letter {
  text-transform: capitalize;
}

.Synonyms {
  font-size: smaller;
}

.synonyms {
  background-color: rgba(231, 226, 222, 0.7);
  border: 1px solid transparent;
  border-radius: 3px;
  display: inline-block;
  margin: 10px 5px;
  padding: 5px 10px;
}

.Footer {
  font-family: "Kiwi Maru", serif;
  font-size: 12px;
  text-align: center;
  margin-bottom: 50px;
}
