.App .container {
  max-width: 500;
}

.App-header {
  font-family: "Kiwi Maru", serif;
  font-size: 60px;
  text-align: center;
  margin: 20px auto;
}

body {
  background-image: url(workdesk.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: sans-serif;
  margin: 0 auto;
}

.Footer {
  font-family: "Kiwi Maru", serif;
  font-size: 12px;
  text-align: center;
  margin-bottom: 50px;
}
