.Dictionary .container {
  max-width: 500;
}

@media screen and (max-width: 1200px) {
  .Dictionary .container {
    min-width: 800px;
  }
}

.card {
  display: block;
  margin: 20px auto;
  width: 45%;
  min-width: 500px;
  border-radius: 25px;
  box-shadow: 3px 3px 3px rgba(175, 175, 167, 0.5);
  border: 3px solid #0000;
  background: rgba(255, 255, 255, 0.7);
  padding: 30px 30px;
}

.Search input {
  border-radius: 30px;
  padding: 10px 20px;
  display: block;
  border: 1px solid #c2c0bf;
  width: 37%;
  margin: 0 auto;
  outline: none;
}

@media screen and (max-width: 1200px) {
  .Search input {
    min-width: 600px;
  }
}
